<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Impact rating selector</title>
		<base href="<%= htmlWebpackPlugin.options.URL_BASE_PATH %>forms/">

		<link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.URL_BASE_PATH %>js/console-app.ico">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU=" crossorigin="anonymous" />
	</head>
	<body ng-controller="AppController" ng-csp ng-app="PublicForms">

		<div class="container" ng-controller="impact.selector" class="ng-cloak">
			<ol class="breadcrumb print-hidden">
				<li><a href="/"><i class="fa fa-fw fa-lock"></i>Infosec</a></li>
			</ol>

			<h1>Impact rating selector</h1>

			<p>Use the interactive chart below to help decide how much security impact your data has on your business. (<a ng-click="reset()">Click here to reset.</a>)</p>

			<form role="form" name="form">

				<div class="row col-sm-offset-1 col-sm-10">
					<p><a ng-click="showImpactGuide = true;" ng-show="!showImpactGuide"><i class="fa fa-chevron-circle-right"></i> Click here for a quick guide on impact levels</a></p>

					<div ng-show="showImpactGuide" style="padding: 1em; background-color: #fee;">
						<p>Use these descriptions to decide how much impact this data can have on different parts of your business.</p>

						<table class="table table-condensed">
							<thead>
								<tr>
									<th></th>
									<th>Low impact</th>
									<th>Medium impact</th>
									<th>High impact</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>Business capability</th>
									<td>Noticeably reduced, but primary business continues</td>
									<td>Significantly reduced, but primary business continues</td>
									<td>Severely reduced, primary business might not continue</td>
								</tr>
								<tr>
									<th>Assets</th>
									<td>Minor damage</td>
									<td>Significant damage</td>
									<td>Major damage</td>
								</tr>
								<tr>
									<th>Finances</th>
									<td>Minor loss</td>
									<td>Significant loss</td>
									<td>Major loss</td>
								</tr>
								<tr>
									<th>Individuals</th>
									<td>Minor harm</td>
									<td>Significant harm, but without causing life-threatening injuries</td>
									<td>Life-threating injuries or loss of life</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="col-sm-4">
						<div class="small-header">Confidentiality</div>
						<p style="min-height: 5em;">What would be the impact if the data ended up in the wrong hands?</p>
						<div class="security-impact-rating">
							<i class="fa fa-check-circle" ng-show="confidentialityImpact === 'public'"></i> <a style="color: inherit;" ng-click="confidentialityImpact = 'public';">N/A (PUBLIC)</a>
						</div>
						<div class="security-impact-rating text-success inverted">
							<i class="fa fa-check-circle" ng-show="confidentialityImpact === 'low'"></i> <a ng-click="confidentialityImpact = 'low';">LOW</a>
						</div>
						<div class="security-impact-rating inverted text-warning">
							<i class="fa fa-check-circle" ng-show="confidentialityImpact === 'medium'"></i> <a ng-click="confidentialityImpact = 'medium';">MEDIUM</a>
						</div>
						<div class="security-impact-rating inverted text-danger">
							<i class="fa fa-check-circle" ng-show="confidentialityImpact === 'high'"></i> <a ng-click="confidentialityImpact = 'high';">HIGH</a>
						</div>
						<div ng-switch="confidentialityImpact" style="margin-top: 0.5em; min-height: 15em;">
							<p ng-show="!confidentialityImpact"><strong>Choose an impact level.</strong></p>
							<div ng-switch-when="public"><p><strong class="text-primary">Confidentiality: Public</strong></p> <p>The data isn't confidential at all.</p></div>
							<div ng-switch-when="low"><p><strong class="text-success">Confidentiality: Low impact</strong>
								<p>If released or stolen:</p>
								<ul>
									<li>Primary business could continue with <strong class="text-success">small but noticeable loss</strong></li>
									<li>Damage would be <strong class="text-success">minor or temporary</strong></li>
								</ul>
								</div>
							<div ng-switch-when="medium"><p><strong class="text-warning">Confidentiality: Medium impact</strong></p>
								<p>If released or stolen:</p>
								<ul>
									<li>Could cause <strong class="text-warning">significant damage</strong> to the business or its reputation</li>
									<li>Damage could be <strong class="text-warning">serious or sustained</strong></li>
									<li>Could cause <strong class="text-warning">significant personal injury</strong></li>
								</ul>
								</div>
							<div ng-switch-when="high"><p><strong class="text-danger">Confidentiality: High impact</strong></p>
								<p>If released or stolen:</p>
								<ul>
									<li>Could cause <strong class="text-danger">permanent or severe damage</strong> to the business or its reputation</li>
									<li>Could require <strong class="text-danger">regulatory disclosure</strong></li>
									<li>Could cause <strong class="text-danger">major personal injury</strong></li>
								</ul>
								</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="small-header">Integrity</div>
						<p style="min-height: 5em;">What would be the impact if someone made an unauthorized change to the data?</p>
						<div class="security-impact-rating">&nbsp;</div>
						<div class="security-impact-rating text-success inverted">
							<i class="fa fa-check-circle" ng-show="integrityImpact === 'low'"></i> <a ng-click="integrityImpact = 'low';">LOW</a>
						</div>
						<div class="security-impact-rating inverted text-warning">
							<i class="fa fa-check-circle" ng-show="integrityImpact === 'medium'"></i> <a ng-click="integrityImpact = 'medium';">MEDIUM</a>
						</div>
						<div class="security-impact-rating inverted text-danger">
							<i class="fa fa-check-circle" ng-show="integrityImpact === 'high'"></i> <a ng-click="integrityImpact = 'high';">HIGH</a>
						</div>
						<div ng-switch="integrityImpact" style="margin-top: 0.5em; min-height: 15em;">
							<p ng-show="!integrityImpact"><strong>Choose an impact level.</strong></p>
							<div ng-switch-when="low"><p><strong class="text-success">Integrity: Low impact</strong></p>
								<p>If someone makes an unauthorized change:</p>
								<ul>
									<li>Damage would be <strong class="text-success">minor or temporary</strong>, or involve <strong class="text-success">minor injuries</strong></li>
								</ul>
								</div>
							<div ng-switch-when="medium"><p><strong class="text-warning">Integrity: Medium impact</strong></p>
								<p>If someone makes an unauthorized change:</p>
								<ul>
									<li>Damage could be <strong class="text-warning">serious or sustained</strong></li>
									<li>Could cause someone <strong class="text-warning">serious injury</strong></li>
								</ul>
								</div>
							<div ng-switch-when="high"><p><strong class="text-danger">Integrity: High impact</strong></p>
								<p>If someone makes an unauthorized change:</p>
								<ul>
									<li>Damage could be <strong class="text-danger">catastrophic or permanent</strong></li>
									<li>Could cause <strong class="text-danger">life-threatening injury or loss of life</strong></li>
								</ul>
								</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="small-header">Availability</div>
						<p style="min-height: 5em;">What would be the impact if the data was destroyed or otherwise became unavailable?</p>
						<div class="security-impact-rating">&nbsp;</div>
						<div class="security-impact-rating text-success inverted">
							<i class="fa fa-check-circle" ng-show="availabilityImpact === 'low'"></i> <a ng-click="availabilityImpact = 'low';">LOW</a>
						</div>
						<div class="security-impact-rating inverted text-warning">
							<i class="fa fa-check-circle" ng-show="availabilityImpact === 'medium'"></i> <a ng-click="availabilityImpact = 'medium';">MEDIUM</a>
						</div>
						<div class="security-impact-rating inverted text-danger">
							<i class="fa fa-check-circle" ng-show="availabilityImpact === 'high'"></i> <a ng-click="availabilityImpact = 'high';">HIGH</a>
						</div>
						<div ng-switch="availabilityImpact" style="margin-top: 0.5em; min-height: 15em;">
							<p ng-show="!availabilityImpact"><strong>Choose an impact level.</strong></p>
							<div ng-switch-when="low"><p><strong class="text-success">Availability: Low impact</strong></p>
								<p>If this data is lost or unavailable:</p>
								<ul>
									<li>Primary business can continue with <strong class="text-success">small but noticeable loss</strong></li>
									<li>Loss would be <strong class="text-success">minor or temporary</strong></li>
								</ul>
								</div>
							<div ng-switch-when="medium"><p><strong class="text-warning">Availability: Medium impact</strong></p>
								<p>If this data is lost or unavailable:</p>
								<ul>
									<li>Primary business can continue, but will be <strong class="text-warning">significantly reduced</strong></li>
									<li>Loss could be <strong class="text-warning">serious or sustained</strong></li>
									<li>Could cause someone <strong class="text-warning">serious injury</strong></li>
								</ul>
								</div>
							<div ng-switch-when="high"><p><strong class="text-danger">Availability: High impact</strong></p>
								<p>If this data is lost or unavailable:</p>
								<ul>
									<li>Primary business is <strong class="text-danger">severely reduced and might not continue</strong></li>
									<li>Loss could be <strong class="text-danger">catastrophic or permanent</strong></li>
									<li>Could cause <strong class="text-danger">life-threatening injury or loss of life</strong></li>
								</ul>
								</div>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="panel panel-default">
					<div class="panel-heading">Impact rating code</div>
					<div class="panel-body">
						<span ng-show="impact === ''">Choose ratings above to receive an impact rating code.</span>
						<span ng-show="impact !== ''" style="font-size: 200%;">{{impact}}</span>
					</div>
				</div>
			</form>
		</div>

		<div style="height: 12rem;"></div>

		<base-temp-alert></base-temp-alert>

		<div ng-hide="true">Loading</div>

		<script defer src="js/forms-bundle.js"></script>
	</body>
</html>
